<section class="hero">
    <img src="../../images/people-standing-behind-glistening-strips-of-gold-curtain-3394222.jpg"
        alt="{{type}} hero banner" />
    <article>
        <h1>Upcoming Events</h1>
        <h2>Check out my upcoming appearances and events below</h2>
    </article>
</section>

<div class="mdc-layout-grid--main">
    <div class="mdc-layout-grid__inner--main">

        <div
            class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-12-desktop mdc-layout-grid__cell--main--span-8-tablet mdc-layout-grid__cell--main--span-4-phone mdc-layout-grid--align-center">

            <a class="text-on-background default-link" href="/contact-me?requestType=event">
                <h3>HAVE AN IDEA FOR AN EVENT? CLICK HERE!</h3>
            </a>
        </div>

        <div
            class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-12-desktop mdc-layout-grid__cell--main--span-8-tablet mdc-layout-grid__cell--main--span-4-phone">
            <h3 class="separator">Upcoming Events</h3>
        </div>

        {{#if (noUpcomingEvents payload)}}

        <div
            class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-12-desktop mdc-layout-grid__cell--main--span-8-tablet mdc-layout-grid__cell--main--span-4-phone mdc-layout-grid--align-center">
            <article class="text-on-background">We're working out details for some exciting new events. Check back often for
                details or subscribe below to be get notifications direct to your inbox.</article>
        </div>
        {{else}}

        {{#upcomingEvents payload 4}}
        <div
            class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-12-desktop mdc-layout-grid__cell--main--span-8-tablet mdc-layout-grid__cell--main--span-4-phone mdc-layout-grid--align-center">
            <section class="mdc-card vertical-card shareable">
                <a href="{{link}}" class="no-link-decoration text-on-surface">
                    <div class="mdc-card__primary-action" tabindex="0">

                        <header>
                            <div class="card-icon material-icons">{{icon}}</div>
                            <div class="card-title">
                                <h3>{{title}}</h3>
                                <h4>{{location}}
                                    <br>
                                    {{dateOfEvent}} - {{time}}
                                </h4>
                            </div>
                        </header>
                        <div class="mdc-card__media mdc-card__media--square">
                            <img class="mdc-card__media-content" src="{{image}}">
                        </div>
                    </div>
                </a>
                <main>
                    {{desc}}
                </main>
                <footer class="mdc-card__actions">
                    <div class="mdc-card__action-buttons">
                        <a href="{{link}}" class="mdc-button mdc-button-card mdc-card__action mdc-card__action--button"
                            data-mdc-auto-init="MDCRipple">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">RSVP</span>
                        </a>
                    </div>
                    <div class="mdc-card__action-icons">
                        <button
                            class="material-icons-share material-icons mdc-icon-button mdc-card__action mdc-card__action--icon"
                            title="Share">share</button>
                        <div class="hidden-social-links">
                            <input class="facebook hidden" value="{{facebook}}" readonly>
                            <input class="twitter hidden" value="{{twitter}}" readonly>
                            <input class="mail hidden" value="{{mail}}" readonly>
                            <input class="clipboard hidden" value="{{link}}" readonly>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
        {{/upcomingEvents}}

        <!-- Dialog Box -->
        <div id="share-events-dialog" class="mdc-dialog" data-mdc-auto-init="MDCDialog">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface" role="alertdialog" aria-modal="true" aria-labelledby="share-this-event"
                    aria-describedby="my-dialog-content">
                    <h3 class="mdc-dialog__title">Share This Event</h3>
                    <a class="close dialog-close material-icons mdc-fab__icon">close</a>
                    <div class="mdc-dialog__content" id="my-dialog-content">
                        <ul class="mdc-list mdc-list--avatar-list">
                            <li id="facebook" onclick="" class="mdc-list-item progress-bar-click" tabindex="0"
                                data-mdc-dialog-action="none">
                                <i class="fab fa-facebook-f"></i>
                                <span class="mdc-list-item__text">FACEBOOK</span>
                            </li>
                            <li id="twitter" onclick="" class="mdc-list-item progress-bar-click"
                                data-mdc-dialog-action="callisto">
                                <a class="fab fa-twitter"></a>
                                <span class="mdc-list-item__text">TWITTER</span>
                            </li>
                            <li id="mail" onclick="" class="mdc-list-item" data-mdc-dialog-action="callisto">
                                <a class="fas fa-envelope"></a>
                                <span class="mdc-list-item__text">EMAIL</span>
                            </li>
                            <li id="clipboard" onclick="" class="mdc-list-item" data-mdc-dialog-action="callisto">
                                <a class="fas fa-copy"></a>
                                <span class="mdc-list-item__text">COPY TO CLIPBOARD</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mdc-dialog__scrim"></div>
        </div>

        {{/if}}


        <div
            class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-12-desktop mdc-layout-grid__cell--main--span-8-tablet mdc-layout-grid__cell--main--span-4-phone">
            <h3 class="separator">Past Events</h3>
        </div>

        <div
            class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-12-desktop mdc-layout-grid__cell--main--span-8-tablet mdc-layout-grid__cell--main--span-4-phone mdc-layout-grid--align-center">
            <div id="all-future-events" class="mdc-chip-set" role="grid" data-mdc-auto-init="MDCChipSet">
                {{#pastEvents payload}}

                <a href="{{linkToEvent}}" class="default-link progress-bar-click">
                    <div class="mdc-chip" role="row">
                        <div class="mdc-chip__ripple"></div>
                        <i class="material-icons mdc-chip__icon mdc-chip__icon--leading">{{icon}}</i>
                        <span role="gridcell">
                            <span role="button" tabindex="0" class="mdc-chip__primary-action">
                                <span class="mdc-chip__text"><b>{{dateOfEvent}}</b><br />{{title}}</span>
                            </span>
                        </span>
                    </div>
                </a>
                {{/pastEvents}}
            </div>
        </div>
    </div>
</div>