<section id="splash-page">
  <div id="left-splash">
    <span></span>
  </div>
  <div id="lines-splash">
    <span></span>
  </div>
  <div id="hero-logo">
    <span></span>
  </div>

  <div class="descriptors">
    <div class="descriptor">Black</div>
    <span class="space"></span>
    <div class="descriptor">Womanist</div>
    <span class="space"></span>
    <div class="descriptor">Truth Teller</div>
    <span class="space"></span>
    <div class="descriptor">Lover</div>
    <span class="space"></span>
    <div class="descriptor">Sex-Positive</div>
    <span class="space"></span>
    <div class="descriptor">
      <a class="default-link final-descriptor progress-bar-click" href="/my-story">
        Author
      </a>
    </div>

    <a id="splash-fab" href="/purchase-your-copy"
      class="mdc-fab mdc-fab--extended progress-bar-click mdc-theme--primary-bg" data-mdc-auto-init="MDCRipple">
      <div class="mdc-fab__ripple"></div>
      <span class="mdc-fab__label">Purchase Your Copy</span>
    </a>
  </div>

</section>

<section id="social-media-marquee">

  {{#each payload}}
  <a href="{{linkToPost}}" class="default-link">
    <header><h3><i class="{{classes}} fab fa-{{platform}}"></i>&nbsp;{{username}}</h3></header>

    {{#if isImage}}
    <img src="{{image}}" alt="{{altText}}">
    {{else}}
    <article>{{post}}</article>
    {{/if}}

    <footer><h5><i>{{timestamp}}</i></h5></footer>
  </a>
  {{/each}}
</section>

<div class="mdc-layout-grid--main">
  <div class="mdc-layout-grid__inner--main">
    <div
      class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-4-desktop mdc-layout-grid--align-center highlights">

      <a class="default-link" href="/to-all-the-places-ive-had-sex-before">
        <div class="image-caption">
          <i class="fa fa-chevron-down"></i>
          <div>&nbsp;Read More About It</div>
        </div>

        <img src="../../images/to-all-the-places-i-ve-had-sex-before.jpg" alt="To All the Places I've Had Sex Cover"
          height="300px">
      </a>
    </div>

    <div class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-8-desktop mdc-layout-grid--align-center">
      <section class="text-on-background quote">
        <i class="fa fa-quote fa-quote-left fa-3x" aria-hidden="true"></i>
        <article>
          <main>
            <p>
              LAUX’s stories on Black Womanhood and Sexual Liberation are for RIGHT NOW. Her voice is one for a
              generation;
              a sexual liberation unto itself is found between the lines in her collection of exhilaratingly honest and
              personal essays, allowing the reader to redefine and deconstruct them self alongside LAUX as she unpacks
              these
              loaded and multilayered institutions and mentalities.
            </p>
          </main>
          <footer>
            <p>
              Katy Rieber<br />
              The Bird Streets
            </p>
          </footer>
        </article>
        <i class="fa fa-quote fa-quote-right fa-3x" aria-hidden="true"></i>
      </section>
    </div>
  </div>
</div>