<section class="hero">
    <img src="../../images/photo-of-woman-reading-on-tablet-3060348.jpg" alt="{{type}} hero banner" />
    <article>
        <h1>My Media</h1>
        <h2>Find all my publications and recordings here</h2>
    </article>
</section>

<div class="mdc-layout-grid--main horizontal-card-grid">
    <div class="mdc-layout-grid__inner--main">

        {{#each payload}}
        <div
            class="grow-on-hover mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-12-desktop mdc-layout-grid__cell--main--span-8-tablet mdc-layout-grid--align-center">
            <div class="card-container">
                <a href="{{link}}" class="no-link-decoration">
                    <h3 class="show-on-s">{{imageTag}}</h3>
                    <section class="mdc-card horizontal-card fixed-width">
                        <img src="{{image}}" alt="{{alternateText}}">
                        <article>
                            <header class="text-on-surface">
                                <h3>{{imageTag}}</h3>
                                <h4>{{dateRange}}</h4>
                            </header>
                            <hr />
                            <div class="main-and-footer">
                                <main class="text-on-surface">
                                    {{#each description}}
                                    <p>{{this}}</p>
                                    {{/each}}
                                </main>
                            </div>
                        </article>
                    </section>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>