<aside id="team-drawer" class="mdc-drawer mdc-drawer--modal team-drawer" data-mdc-auto-init="MDCDrawer">
    <header>
        <a class="close material-icons mdc-fab__icon">close</a>
        <h3></h3>
        <h4></h4>
    </header>
    <img src="">
    <main>
    </main>
    <footer>
    </footer>
</aside>

<div class="mdc-drawer-scrim"></div>

<div class="mdc-drawer-app-content">

    <section class="hero">
        <img src="../../images/itslit.jpg" alt="{{type}} hero banner" />
        <article>
            <h1>My Team</h1>
            <h2>This is the group that helped make it happen</h2>
        </article>
    </section>

    <div class="mdc-layout-grid--main horizontal-card-grid">
        <div class="mdc-layout-grid__inner--main">

            {{#each payload}}

            <div
                class="mdc-layout-grid__cell--main mdc-layout-grid__cell--main--span-12-desktop mdc-layout-grid__cell--main--span-8-tablet">
                <section id={{ix}} class="mdc-card open-drawer-on-click horizontal-card fixed-width">
                    <img src="{{image}}">
                    <article>
                        <header>
                            <h3>{{name}}</h3>
                            <h4>{{title}}</h4>
                        </header>
                        <hr />
                        <div class="main-and-footer">
                            <main>
                                {{#each description}}
                                <p>{{this}}</p>
                                {{/each}}
                            </main>
                            <footer>
                                <p>{{quote}} - {{quoteAttribution}}</p>
                            </footer>
                        </div>
                    </article>
                </section>
            </div>

            {{/each}}

        </div>
    </div>
</div>