{{!-- <div id="book-container"> --}}
    {{!-- <div id="page-controls-container">
        <div>
            Go to Page:
        </div>
        <div id="custom-menu">

        </div>
    </div> --}}

    {{!-- <div>Look Inside</div> --}}
    {{!-- <div class="image-caption">
                    <i class="fa fa-chevron-down"></i>
                    <div>&nbsp;Look Inside to Learn More</div>
                </div> --}}
    {{#each (buildPages items word)}}
    <div id="urban-glossary{{@index}}" class="urban-glossary" style="color:white;">
        <div>
            <div class="book-title">
            <h3>The Urban Glossary</h3>
            <br>
            <h3 style="margin:0">From</h3>
            <br>
            <h3>LAUX the Author</h3>
            </div>
        </div>
        <div></div>
        {{{pages}}}
        <div></div>
        <div></div>
    </div>
    {{/each}}
    {{!-- <div id="look-inside">
        <i class="fa fa-reply fa-2x"></i>
        <div>Look Inside</div>
    </div> --}}
{{!-- </div> --}}

<script type="text/javascript">
    //$(document).ready(function () {
        var tabBarHeight = $(".mdc-tab-bar").height();
        var windowHeight = $(window).height();
        var height = windowHeight - tabBarHeight - 100;
        var width = $(window).width();
        var options = {
            width: width < 1100 ? width * 2 : width
            , height: height
            , hardcovers: true
            , deepLinking: false
            , updateBrowserURL: false
            // ... other configuration options ...
            , container: true // valid values: true, false, window
            //, containerHeight: "90%" // any CSS height value like "90%" or "400px"
            , containerPadding: "10px"
            , toolbarPosition: "top" // default "bottom"
            , flipSound: false
            //, scaleToFit: ".wowbook-container"
            , responsiveSinglePage: function (book) {
                return $("#content").width() < 1100;
            }
            , centeredWhenClosed: true
            , toolbar: "first, back, next, last, zoomin, zoomout, fullscreen"
        };

        //$('#urban-glossary0').wowBook(options);

        var initBook = width >= 400 & windowHeight >= 900 ? 3
            : width >= 400 & windowHeight >= 650 ? 2
                : width >= 400 & windowHeight >= 400 ? 1
                    : 0;
        var maxItemsPerPage = initBook + 1;
        var ix = "{{ getPageIndex items word }}".split(',')[initBook];

        //console.log(initBook);
        initBook = 3;

        //if ('{{word}}') $("#look-inside").hide();

        //$(".urban-glossary").hide();

        $('#urban-glossary' + initBook).wowBook(options);

        for (var i = 0; i < 4; i++) {
            if (i != initBook) {
                $('#urban-glossary' + i).hide();
            }
        }

        //$('#urban-glossary' + initBook).show();

        //$(".wowbook-container #urban-glossary" + initBook).closest(".wowbook-container").show();
        //$(".wowbook-container #urban-glossary" + initBook).show();
        //$('#urban-glossary' + 0).removeClass('glossary-hidden');

        //$(".b-page:not(.b-page-0)").addClass("shadow-z1");
        //console.log(ixs);
        //$('#urban-glossary' + initBook).wowBook("gotopage", ix);

        //$(".wowbook-container").addClass("fill-screen");

    //});

    /*$(window).on('resize', function () {
        var tabBarHeight = $(".mdc-tab-bar").height();
        var windowHeight = $(window).height();
        var height = windowHeight - tabBarHeight;
        var width = $(window).width();
        var activeID = $(".wowbook-container:visible .wowbook").attr("id");
        var activeIx = activeID.substr(-1);
        var ixs = "{{ getPageIndex items word }}".split(',');

        //$(".urban-glossary:not(.glossary-hidden)").booklet("option", "width", width);
        //$(".urban-glossary:not(.glossary-hidden)").booklet("option", "height", height);
        //console.log(activeIx);
        //console.log(windowHeight);
        //console.log(width);
        if (width >= 400 && windowHeight >= 900 && activeIx != 3) {
            $(".wowbook-container").hide();
            $(".wowbook-container .urban-glossary").wowBook("destroy");
            $("#urban-glossary3").wowBook(options);
            $("#urban-glossary3").closest(".wowbook-container").show();

            //$(".urban-glossary").addClass("glossary-hidden");
            //$(".booklet").booklet("destroy");
            //$("#urban-glossary3").removeClass("glossary-hidden");
            //$('#urban-glossary3').booklet(options);
            //$('#urban-glossary3').booklet("gotopage", ixs[3]);
        } else if (width >= 400 && windowHeight >= 650 && windowHeight < 900 && activeIx != 2) {
            $(".wowbook-container").hide();
            $(".wowbook-container .urban-glossary").wowBook("destroy");
            $("#urban-glossary2").wowBook(options);
            //$(".urban-glossary").addClass("glossary-hidden");
           // $(".booklet").booklet("destroy");
            //$("#urban-glossary2").removeClass("glossary-hidden");
            //$('#urban-glossary2').booklet(options);
            //$('#urban-glossary2').booklet("gotopage", ixs[2]);
        } else if (width >= 400 && windowHeight >= 400 && windowHeight < 650 && activeIx != 1) {
            $(".wowbook-container").hide();
            $(".wowbook-container .urban-glossary").wowBook("destroy");
            $("#urban-glossary1").wowBook(options);
            
            //$(".urban-glossary").addClass("glossary-hidden");
            //$(".booklet").booklet("destroy");
            //$("#urban-glossary1").removeClass("glossary-hidden");
            //$('#urban-glossary1').booklet(options);
            //$('#urban-glossary1').booklet("gotopage", ixs[1]);
        } else if ((windowHeight < 400 || width < 400) && activeIx != 0) {
            $(".wowbook-container").hide();
            $(".wowbook-container .urban-glossary").wowBook("destroy");
            $("#urban-glossary0").wowBook(options);
            //$(".urban-glossary").addClass("glossary-hidden");
           // $(".booklet").booklet("destroy");
            //$("#urban-glossary0").removeClass("glossary-hidden");
           // $('#urban-glossary0').booklet(options);
            //$('#urban-glossary0').booklet("gotopage", ixs[0]);
        }
    });*/
    
</script>

{{!-- <script>

    $(function () {
        var tabBarHeight = $(".mdc-tab-bar").height();
        var windowHeight = $(window).height();
        var height = windowHeight - tabBarHeight - 100;
        var width = $(window).width();
        var lookInside = $("#look-inside");
        var coverWidth;
        var options = {
            menu: '#custom-menu',
            pageSelector: true,
            width: width,
            height: height,
            closed: true, covers: true,
            autoCenter: true,
            hoverWidth: 100
        };
        var initBook = width >= 400 & windowHeight >= 900 ? 3
            : width >= 400 & windowHeight >= 650 ? 2
                : width >= 400 & windowHeight >= 400 ? 1
                    : 0;
        var maxItemsPerPage = initBook + 1;
        var ix = "{{ getPageIndex items word }}".split(',')[initBook];

        if ('{{word}}') $("#look-inside").hide();

        $('#urban-glossary' + initBook).booklet(options);
        $('#urban-glossary' + initBook).removeClass('glossary-hidden');

        $(".b-page:not(.b-page-0)").addClass("shadow-z1");
        //console.log(ixs);
        $('#urban-glossary' + initBook).booklet("gotopage", ix);

        coverWidth = $(".b-wrap.b-page-cover").width();

        lookInside.css('top', height + 50);
        lookInside.css('right', coverWidth / 2 + 25);
        //console.log(coverWidth);

        //console.log(initBook);
        //console.log(windowHeight);

    });

    $(window).on('resize', function () {
        var tabBarHeight = $(".mdc-tab-bar").height();
        var windowHeight = $(window).height();
        var height = windowHeight - tabBarHeight - 100;
        var width = $(window).width();
        var lookInside = $("#look-inside");
        var options = {
            menu: '#custom-menu',
            pageSelector: true,
            width: width,
            height: height,
            closed: true, covers: true,
            autoCenter: true,
            hoverWidth: 100
        };
        var activeID = $(".booklet").attr('id');
        var activeIx = activeID.substr(-1);
        var ixs = "{{ getPageIndex items word }}".split(',');
        var coverWidth;

        //console.log(word);

        $(".urban-glossary:not(.glossary-hidden)").booklet("option", "width", width);
        //console.log($("#urban-glossary").booklet("option", "width"));
        $(".urban-glossary:not(.glossary-hidden)").booklet("option", "height", height);

        coverWidth = $(".b-wrap.b-page-cover").width();

        lookInside.css('top', height + 50);
        lookInside.css('right', coverWidth / 2 + 25);
        //console.log(ixs);
        //console.log(activeIx);
        //console.log(windowHeight);

        if (width >= 400 && windowHeight >= 900 && activeIx != 3) {
            $(".urban-glossary").addClass("glossary-hidden");
            $(".booklet").booklet("destroy");
            $("#urban-glossary3").removeClass("glossary-hidden");
            $('#urban-glossary3').booklet(options);
            $('#urban-glossary3').booklet("gotopage", ixs[3]);
        } else if (width >= 400 && windowHeight >= 650 && windowHeight < 900 && activeIx != 2) {
            $(".urban-glossary").addClass("glossary-hidden");
            $(".booklet").booklet("destroy");
            $("#urban-glossary2").removeClass("glossary-hidden");
            $('#urban-glossary2').booklet(options);
            $('#urban-glossary2').booklet("gotopage", ixs[2]);
        } else if (width >= 400 && windowHeight >= 400 && windowHeight < 650 && activeIx != 1) {
            $(".urban-glossary").addClass("glossary-hidden");
            $(".booklet").booklet("destroy");
            $("#urban-glossary1").removeClass("glossary-hidden");
            $('#urban-glossary1').booklet(options);
            $('#urban-glossary1').booklet("gotopage", ixs[1]);
        } else if ((windowHeight < 400 || width < 400) && activeIx != 0) {
            $(".urban-glossary").addClass("glossary-hidden");
            $(".booklet").booklet("destroy");
            $("#urban-glossary0").removeClass("glossary-hidden");
            $('#urban-glossary0').booklet(options);
            $('#urban-glossary0').booklet("gotopage", ixs[0]);
        }
    });

</script> --}}