<aside id={{id}} class="mdc-drawer mdc-drawer-team mdc-drawer--modal" data-mdc-auto-init="MDCDrawer">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">{{name}}</h3>
        <h6 class="mdc-drawer__subtitle">{{title}}</h6>
    </div>
    <div class="mdc-drawer__content">
        <a class="team-drawer-close material-icons mdc-fab__icon">close</a>
        <img class="team-card-image" src="{{image}}" width="275px" height="275px">

        {{{description}}}

        <p class="team-card-quote">{{quote}}</p>
    </div>
</aside>