<aside class="mdc-drawer mdc-drawer--modal" dir="rtl" style="z-index:200;" data-mdc-auto-init="MDCDrawer">
    <div class="mdc-drawer__content">
        <nav class="mdc-list" dir="ltr">
            <a class="{{isActiveDrawerClass type 'my-story'}} progress-bar-click" href="/my-story" tabindex="0"
                aria-current="page">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">
                    <img style="opacity:0.6" id="logo" src="{{isActiveDrawerLogo type 'index'}}" alt="Laux Logo"
                        height="25px">
                </i>
                <span class="mdc-list-item__text">My Story</span>
            </a>
            <a class="{{isActiveDrawerClass type 'my-team'}} progress-bar-click" href="/my-team" tabindex="0">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">account_circle</i>
                <span class="mdc-list-item__text">My Team</span>
            </a>
            <a class="{{isActiveDrawerClass type 'our-story'}} progress-bar-click" href="/our-story" tabindex="0">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">map</i>
                <span class="mdc-list-item__text">Our Story</span>
            </a>
            <a class="{{isActiveDrawerClass type 'my-media'}} progress-bar-click" href="/my-media" tabindex="0">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">library_books</i>
                <span class="mdc-list-item__text">My Media</span>
            </a>
            <a class="{{isActiveDrawerClass type 'events'}} progress-bar-click" href="/events" tabindex="0">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">event</i>
                <span class="mdc-list-item__text">Upcoming Events</span>
            </a>
            <a class="{{isActiveDrawerClass type 'urban-glossary'}} progress-bar-click" href="/urban-glossary"
                tabindex="0">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">spellcheck</i>
                <span class="mdc-list-item__text">Urban Glossary</span>
            </a>
            {{!-- <a class="{{isActiveDrawerClass type 'purchase-your-copy'}} progress-bar-click" href="/purchase-your-copy"
                tabindex="0">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">add_shopping_cart</i>
                <span class="mdc-list-item__text">Purchase Your Copy</span>
            </a> --}}
            <a class="{{isActiveDrawerClass type 'contact-me'}} progress-bar-click" href="/contact-me" tabindex="0">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
                <span class="mdc-list-item__text">Contact Me</span>
            </a>
        </nav>
    </div>
</aside>