<aside class="mdc-drawer mdc-drawer--modal" dir="rtl" style="z-index:200000;" data-mdc-auto-init="MDCDrawer">
    <div class="mdc-drawer__content">
        <nav class="mdc-list" dir="ltr">
            <a class="{{isActiveDrawerClass type 'index'}} progress-bar-click" href="/" tabindex="{{drawerIndex type 'index'}}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                <span class="mdc-list-item__text">Home</span>
            </a>
            <a class="{{isActiveDrawerClass type 'my-story'}} progress-bar-click" href="/my-story" tabindex="{{drawerIndex type 'my-story'}}"
                aria-current="page">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">
                    <img id="logo" src="{{isActiveDrawerLogo type 'index'}}" alt="Laux Logo"
                        height="25px">
                </i>
                <span class="mdc-list-item__text">My Story</span>
            </a>
            <a class="{{isActiveDrawerClass type 'my-team'}} progress-bar-click" href="/my-team" tabindex="{{drawerIndex type 'my-team'}}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">account_circle</i>
                <span class="mdc-list-item__text">My Team</span>
            </a>
            <a class="{{isActiveDrawerClass type 'our-story'}} progress-bar-click" href="/our-story" tabindex="{{drawerIndex type 'our-story'}}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">map</i>
                <span class="mdc-list-item__text">Our Story</span>
            </a>
            <a class="{{isActiveDrawerClass type 'my-media'}} progress-bar-click" href="/my-media" tabindex="{{drawerIndex type 'my-media'}}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">library_books</i>
                <span class="mdc-list-item__text">My Media</span>
            </a>
            <a class="{{isActiveDrawerClass type 'events'}} progress-bar-click" href="/events" tabindex="{{drawerIndex type 'events'}}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">event</i>
                <span class="mdc-list-item__text">Upcoming Events</span>
            </a>
            <a class="{{isActiveDrawerClass type 'urban-glossary'}} progress-bar-click" href="/urban-glossary" tabindex="{{drawerIndex type 'urban-glossary'}}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">spellcheck</i>
                <span class="mdc-list-item__text">Urban Glossary</span>
            </a>
            <a class="{{isActiveDrawerClass type 'purchase-your-copy'}} progress-bar-click" href="/purchase-your-copy" tabindex="{{drawerIndex type 'purchase-your-copy'}}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">add_shopping_cart</i>
                <span class="mdc-list-item__text">Purchase Your Copy</span>
            </a>
            <a class="{{isActiveDrawerClass type 'contact-me'}} progress-bar-click" href="/contact-me" tabindex="{{drawerIndex type 'contact-me'}}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
                <span class="mdc-list-item__text">Contact Me</span>
            </a>
        </nav>
    </div>
</aside>