<{{element}} class="social-media-buttons">
    <a href="https://www.instagram.com/lauxtheauthor/"><i
            class="{{classes}} icon fa fa-instagram{{size}}"></i></a>&nbsp;&nbsp;
    <a href="https://www.facebook.com/LAUXtheauthor/"><i
            class="{{classes}} icon fa fa-facebook{{size}}"></i></a>&nbsp;&nbsp;
    <a href="https://twitter.com/LauxTheauthor"><i
            class="{{classes}} icon fa fa-twitter{{size}}"></i></a>&nbsp;&nbsp;
            <a href="https://medium.com/@lauxtheauthor"><i
            class="{{classes}} icon fa fa-medium{{size}}"></i></a>
</{{element}}>